*{
  box-sizing : border-box;
}


@media (min-width: 992px){
.col-lg-4{
  float:left;
  width:33%;
  }
}

  @media (min-width:768px) and (max-width : 991px) {
    .col-md-6{
      width:50%;
    }
  }
